.pagination {
  display: flex;
  justify-content: center;
}
.page-item {
  list-style: none;
  background-color: #14274e;

  border: 1px solid black;
  padding: 10px;
}
.page-link {
  text-decoration: none;
  color: #f1f6f9;
}
.page-link:hover {
  text-decoration: none;
  color: #14274e;
}
.page-item:hover {
  list-style: none;
  background-color: #a2dbfa;
  color: #14274e;

  transition: 0.5s;
  cursor: pointer;
}
