.page-title {
  margin: 5px 0px 20px 20px;
  font-size: 30px;
}

.post-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
}

.post-form {
  position: relative;
}
.file_input {
  width: 500px;
}

.form-group {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
}

.add-img-icon {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #14274e;
  cursor: pointer;
}

.post-create-input {
  background-color: #f1f6f9;
  font-size: 20px;
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  width: 70vw;
}

.file_input {
  width: 70vw;
  padding: 20px;
  display: inline-block;
  cursor: pointer;
  background-color: #f1f6f9;
}
.post-create-input:focus {
  outline: none;
}

.post-text {
  font-size: 20px;
}

.post-cancel,
.post-submit {
  border: 0;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #14274e;
  color: #f1f6f9;
  box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.26);
  font-size: 15px;
  margin: 25px;
  cursor: pointer;
}

.post-submit:hover {
  background: #28df99;
  color: #14274e;
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.26);
  transition: 0.8s;
  border-radius: 5%;
}
.post-cancel:hover {
  background: #df254d;
  color: #f1f6f9;
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.26);
  transition: 0.8s;
  border-radius: 5%;
}

.card {
  margin: 0px 50px 20px 50px;
  padding: 70px 0px 20px 0px;
  border-radius: 10px;
  background-color: #394867;
}

.btn {
  display: flex;
  justify-content: space-between;
}

.title,
.categories,
.content {
  margin-bottom: 20px;
  font-size: 30px;
  color: #f1f6f9;
}

.upload-section {
  display: flex;
  justify-content: space-between;
}

.required {
  color: #df254d;
}
