.settings {
  display: flex;
}
.settings-card {
  margin: 0px 50px 20px 50px;
  padding: 20px;
  border-radius: 10px;
  background-color: #394867;
}
.settings-wrapper {
  flex: 9;
}
.settings-username,
.settings-name,
.settings-email {
  margin-bottom: 20px;
  font-size: 30px;
  color: #f1f6f9;
}
.settings-input {
  background-color: #f1f6f9;
  font-size: 20px;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
}
.settings-title {
  margin-left: 20px;
}

.settings-form {
  margin-top: 20px;
  width: 100%;
}
.settings-data {
  flex: 9;
  display: flex;
  flex-direction: column;
}
.settings-profile-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-picture {
  width: 200px;
  border-radius: 50%;
}
.settings-upload-picture {
  cursor: pointer;
  background-color: #f1f6f9;
}

.settings-upload-picture {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  margin-top: 10px;
  padding: 5px;
}
.settings-btn {
  display: flex;
  justify-content: space-between;
}
.settings-btn-submit,
.settings-btn-cancel {
  border: 0;
  width: 20%;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #14274e;
  color: #f1f6f9;
  box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.26);
  font-size: 15px;
  margin: 25px;
  cursor: pointer;
}
.settings-btn-cancel:hover,
.settings-delete:hover {
  background: #df254d;
  color: #f1f6f9;
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.26);
  transition: 0.8s;
  border-radius: 5%;
}
.settings-btn-submit:hover,
.btn-upload:hover {
  background: #28df99;
  color: #14274e;
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.26);
  transition: 0.8s;
  border-radius: 5%;
}

.settings-account {
  display: flex;
  justify-content: space-between;
}

.settings-account > span {
  font-size: 20px;
  color: #f1f6f9;
}
.settings-delete {
  border: 0;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #14274e;
  color: #f1f6f9;
  box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.26);
  font-size: 15px;
  cursor: pointer;
}

.profile-picture {
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.success {
  background-color: #28df99;
  color: #14274e;
  padding: 10px;
  margin: 10px;
}
.btn-upload {
  background-color: #14274e;
  padding: 10px 30px;
  color: #f1f6f9;
  border: none;
  box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.26);
}
.settings-upload-picture {
  display: flex;
  justify-content: space-between;
  background-color: #f1f6f9;
  font-size: 15px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

.upload-selected {
  margin-right: 10px;
}
