.single-post {
  flex: 9;
}

.single-post-wrapper {
  border: 4px solid #14274e;
  padding: 20px;
  margin: 20px;
}
.single-post-img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: contain;
}
.post-images {
  display: flex;
  flex-wrap: wrap;
}
.single-post-title {
  text-align: center;
  margin: 10px;
  font-size: 28px;
}

.activity {
  margin-top: 30px;
  color: #14274e;
  display: flex;
  justify-content: space-between;
}
.like:hover {
  color: #289672;
  transition: 0.5s;
  cursor: pointer;
}
.dislike:hover {
  color: #df254d;
  transition: 0.5s;
  cursor: pointer;
}
.like,
.dislike {
  /* background-color: #14274e; */
  color: #14274e;
  font-size: 25px;
  margin-right: 40px;
  font-size: 25px;
  margin-right: 40px;
}
.comment {
  font-size: 25px;
}

.single-post-data {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  border-bottom: 4px solid #a2dbfa;
}
.post-author {
  display: flex;
  flex-direction: column;
  color: #14274e;
}
.author-img,
.user-reply-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid transparent;
}
.author-img:hover {
  border: 3px solid #14274e;
  transition: 0.5s;
}
.single-post-content {
  font-size: 18px;
  line-height: 25px;
}
.single-post-content::first-letter {
  margin-left: 20px;
}
.single-post-categories {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-post-category {
  font-size: 15px;
  line-height: 20px;
  margin-top: 10px;
  background-color: #a2dbfa;
  padding: 10px 20px;
  border-radius: 5px;
  color: #14274e;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}
.single-post-category:hover {
  background-color: #14274e;
  color: #f1f6f9;
  transition: 0.4s;
}

.single-post-images {
  display: flex;
  justify-content: center;
}

.author-username {
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.author-username:hover {
  color: #f1f6f9;
  background-color: #14274e;
  border-radius: 10px;
  transition: 0.5s;
}

.count {
  margin-left: 10px;
}
#show-comments {
  display: none;
}

