.single-post {
  flex: 9;
}

.single-post-wrapper {
  padding: 20px;
  padding-right: 0;
}

.single-post-img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: contain;
}
.single-post-title {
  text-align: center;
  margin: 10px;
  font-size: 28px;
}

.activity {
  margin-top: 30px;
  color: #14274e;
  display: flex;
  justify-content: space-between;
}
.like,
.dislike {
  font-size: 25px;
  margin-right: 40px;
}
.comment {
  font-size: 25px;
}

.single-post-data {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.post-author {
  display: flex;
  flex-direction: column;
  color: #14274e;
}
.author-img {
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.single-post-content {
  font-size: 18px;
  line-height: 25px;
}
.single-post-content::first-letter {
  margin-left: 20px;
}
.single-post-categories {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-post-category {
  font-size: 15px;
  line-height: 20px;
  margin-top: 10px;
  background-color: #14274e;
  padding: 10px 20px;
  border-radius: 5px;
  color: #f1f6f9;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}
.single-post-category:hover {
  background-color: #a2dbfa;
  color: #14274e;
  transition: 0.4s;
}

.single-post-images {
  display: flex;
}
